.metadata/
.classpath
.project
.settings
bin/
gen/
local.properties
*~
.checkstyle
.DS_Store
/DirectoryServer/nbproject/private/
/Client/nbproject/private/
/Host/nbproject/private/
/DirectoryServer/build/
/Client/build/
